.mydp {
    min-width: 100px;
    border-radius: 2px;
    line-height: 1.1;
    display: inline-block;
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        padding: 0;
        margin: 0;
    }
    .selector {
        margin-top: 2px;
        margin-left: -1px;
        position: absolute;
        max-width: 262px;
        padding: 3px;
        z-index: 100;
        background: #fff;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
        width: 100%;
    }
    .inlinedp {
        position: relative;
        margin-top: -2px;
    }
    .selectiongroup {
        position: relative;
        display: table;
        border: none;
        background-color: #FFF;
    }
    .selection {
        background-color: #FFF;
        display: table-cell;
        position: absolute;
        width: 100%;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        padding: 0 64px 0 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }
    .selbtngroup {
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        width: 1%;
        display: table-cell;
        text-align: right;
        font-size: 0;
    }
    .btnpicker, .btnclear {
        height: 100%;
        width: 30px;
        border: none;
        border-left: 1px solid #AAA;
        background: #f1f1f1 !important;
        padding: 0px;
        cursor: pointer;
        outline: 0;
        font: inherit;
        -moz-user-select: none;
        user-select: none
    }
    .btnpicker, .btnclear, .headertodaybtn, .footerbtn {
        background: #FAFAFA;
        background-image: -webkit-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
        background-image: -moz-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
        background-image: -o-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
        background-image: -ms-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
        background-image: linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    }
    .header {
        width: 100%;
        height: 36px;
        margin-bottom: 1px;
        background-color: #FAFAFA;
        td {
            vertical-align: middle;
            border: none;
            &:nth-child(1) {
                font-size: 16px;
                padding-left: 4px;
            }
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                font-size: 16px;
                padding-right: 4px;
            }
        }
    }
    .caltable {
        table-layout: fixed;
        width: 100%;
        background-color: #FFF;
        font-size: 14px;
        border-collapse: collapse;
        color: rgba(0,0,0,0.87);
        line-height: 1.1;
        thead{
            padding: 5px 2px;
        }
        th, td {
            border-collapse: collapse;
            line-height: 1.8;
        }
        th, td {
            padding: 0px;
            text-align: center;
        }
        th {
            background-color: #DDD;
            font-size: 12px;
            vertical-align: middle;
        }
        td {
            cursor: pointer;
            font-weight: bold;
            height: 28px;
        }
    }
    .prevmonth, .nextmonth {
        color: #CCC;
    }
    .currmonth {
        background-color: #F6F6F6;
        padding: 5px;
    }
    .currday div {
        font-weight: 600;
        border-radius: 50%;
    }
    .selectedday div {

        background-color: rgb(16,108,200) !important;
        color: #f1f1f1;
        border-radius: 100%;
    }
    .caltable tbody .currmonth:hover {
        background-color: rgb(224,224,224);
        //border-radius: 100%;
    }
    
    .disabled {
        cursor: default !important;
        color: #CCC !important;
        background: #FFF0F0 !important;
    }
    .selectmenu {
        height: 24px;
        width: 60px;
    }
    .headerbtn {
        background-color: #FAFAFA;
        cursor: pointer;
        display: table-cell;
    }

    .btnpicker, .btnclear, .headerbtn, .headermonthtxt, .headeryeartxt, .headertodaybtn, .selection {
        color: #000;
    }
    .headertodaybtn {
        padding: 8px 12px;
        border-radius: 2px;
        background: rgb(16,108,200);
        color: #f1f1f1;
        border: none;
        cursor: pointer;
        font-size: 12px;
        box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    }
    button::-moz-focus-inner {
        border: 0;
    }
    .headermonthtxt, .headeryeartxt {
        width: 40px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    .btnclear:focus, .btnpicker:focus, .btnclear:hover, .btnpicker:hover {
        background: #ADD8E6;
    }
    .icon-calendar, .icon-cross {
        font-size: 16px;
    }
    .icon-left, .icon-right {
        font-size: 14px;
    }
    .icon-left:hover, .icon-right:hover {
        color: #63B2CC;
    }
    table {
        display: table;
        td {
            padding: 0;
        }
    }
    .icon {
        font-family: 'mydatepicker';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon-calendar:before {
        font-size: 18px;
        content: "\e600";
    }
    .icon-cross:before {
        content: "\e602";
    }
    .icon-left:before {
        content: "\e605";
    }
    .icon-right:before {
        content: "\e607";
    }
    .icon-clock:before{
        font-size: 20px;
        content: "\1f550";
    }
    .icon-arrow-up:before{
        content: "\25B2";
    }
    .icon-arrow-down:before{
        content: "\25BC";
    }

    .timepicker{
        margin: auto;
        table-layout: fixed;
        width: 100%;
        padding: 5px 0px;
    }
    .hide{
        display: none;
    }
    .action:hover{
        cursor: pointer;
        background: #f1f1f1;
    }
    .padding{
        padding: 20px 50px;
    }
}
.transition{
   opacity: 1;
    transition: opacity 1s;
}
.placeholder{
    color: #777 !important;
    font-weight: 400 !important;
    text-align: start !important;
}
@font-face {
    font-family: 'mydatepicker';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAssAAAC8AAAAYGNtYXDMUczTAAABHAAAAGxnYXNwAAAAEAAAAYgAAAAIZ2x5ZmFQ1q4AAAGQAAABbGhlYWQGZuTFAAAC/AAAADZoaGVhB4IDyQAAAzQAAAAkaG10eBYAAnAAAANYAAAAIGxvY2EBdAE0AAADeAAAABJtYXhwABUAPgAAA4wAAAAgbmFtZQ5R9RkAAAOsAAABnnBvc3QAAwAAAAAFTAAAACAAAwOaAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmBwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAUAAAABAAEAADAAAAAQAg5gDmAuYF5gf//f//AAAAAAAg5gDmAuYF5gf//f//AAH/4xoEGgMaARoAAAMAAQAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAMAEAAAAPAA4AABAAJAA4AEwAYAB0AIgAnACwAMQA2ADsAABMRMxEjFyE1IRUDITUhFQERMxEjJRUzNSMTFTM1IzMVMzUjMxUzNSMBFTM1IzMVMzUjMxUzNSMTFTM1I0Bzc0ADAP0AQAOA/IADDXNz/ZOAgCCAgMCAgMCAgP6AgIDAgIDAgIAggIADAP1AAsBzc3P9c3NzAwD9QALAgMDA/sCAgICAgID/AICAgICAgAJAwMAAAAAAAgBwADADkANQAAQACQAANwEnARcDATcBB+kCp3n9WXl5Aqd5/Vl5MAKnef1ZeQKn/Vl5Aqd5AAABAOAAAAMgA4AAAwAAAQMBJQMgA/3DASADgPyAAcPfAAEA4AAAAyADgAADAAA3EwEF4AMCPf7gAAOA/j3fAAAAAQAAAAEAAF0/BsNfDzz1AAsEAAAAAADRxFAkAAAAANHEUCQAAAAAA8ADgAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAADwAABAAAAAAAAAAAAAAAAAAAACAQAAAAAAAAAAAAAAAIAAAAEAABABAAAcAQAAOAEAADgAAAAAAAKABQAHgB6AJYApgC2AAAAAQAAAAgAPAAMAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAkAAAABAAAAAAACAAcAcgABAAAAAAADAAkAPAABAAAAAAAEAAkAhwABAAAAAAAFAAsAGwABAAAAAAAGAAkAVwABAAAAAAAKABoAogADAAEECQABABIACQADAAEECQACAA4AeQADAAEECQADABIARQADAAEECQAEABIAkAADAAEECQAFABYAJgADAAEECQAGABIAYAADAAEECQAKADQAvHZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAclZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMHZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAcnZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAclJlZ3VsYXIAUgBlAGcAdQBsAGEAcnZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAckZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format("truetype");
    font-weight: normal;
    font-style: normal;
}
